<!DOCTYPE html>
<html>
<head>
    <title>Users Table</title>
</head>
<body>

    <h1>Ex08 - Database Structure & Relations</h1>

    <ul>
        <li><a href="{{ path('ex08_create_persons') }}">Create persons table</a></li>
        <li><a href="{{ path('ex08_edit_persons') }}">Add marital_status column</a></li>
        <li><a href="{{ path('ex08_create_relations') }}">Create relationships</a></li>
    </ul>

</body>
</html>