<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Articles{% endblock %}</title>
    </head>
    <body>
        <header>
            <h1>Welcome to My Articles Site</h1>
        </header>

        <main>
            {% block content %}{% endblock %}
        </main>

        <footer>
            <p>2026 My Articles</p>
        </footer>
    </body>
</html>
