<!DOCTYPE html>
<html>
<head>
    <title>Create Table</title>
</head>
<body>
{# templates/table/index.html.twig #}
<h1>Create Users Table</h1>

{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="{{ label }}">{{ message }}</div>
    {% endfor %}
{% endfor %}

<a href="{{ path('create_table') }}">Create Table</a>
</body>
</html>