<!DOCTYPE html>
<html>
<head>
    <title>Create Table</title>
</head>
<body>

<h1>Edit User</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Update</button>
{{ form_end(form) }}

</body>
</html>